/build/
Data
/log/

.DS_Store
.class
.idea

config.properties
configPPE.properties
configPROD.properties
config.properties

partnerLastBatchNumber.properties
output.txt
*.pid
out

# Package Files #
*.war
*.ear

*.iml
*.ipr
*.iws

**.log.zip
out
build
log
logs/
cache/

.gradle/
**/.gradle/*
**/.idea/*
**/build/*

.nb-gradle/

vms/**/.vagrant/
nbproject/13:40 10/10/2016

